@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

h1{font-family: "Jersey 10", sans-serif;}
h2,h3{font-family: "Jersey 10", sans-serif;}

p{font-family: "Inter", sans-serif;}

#titulo{color: brown;}
.texto{color: ;}
